body{
    margin: 0;
}

*{
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(71, 65, 65);
    color: white;
    height: 4em;
    width: 100vw;
    border: 1px solid rgb(71, 65, 65) ;
    font-size: 2em;
}

a {
    color: white;

    margin-right: .7em;
}

header>div {
    display: flex;
    align-items: center;
    height: 10vh;
    margin-left: .7em;
}

main {
    background-color: rgb(153, 42, 42);
     min-width: 80vw;
    min-height: 80vw;
}

aside {
    background-color: black;
    min-width: 10vw;
    min-height: 80vw;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body>div {
    display: flex;
}

footer {
    width: 100vw;
    background-color: rgb(71, 65, 65);
    height: 10vh;
}