body{
    margin: 0;
}

*{
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(71, 65, 65);
    color: white;
    height: 10vh;
    width: 100%;
    border: 1px solid rgb(71, 65, 65) ;
    font-size: 2em;
}

a {
    color: white;

    margin-right: .7em;
}

header>div {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: .7em;
}

main {
    background-color: rgb(153, 42, 42);
    min-width: 80vw;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem
}

aside {
    background-color: black;
    min-width: 10vw;
    min-height: 80vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body>div {
    display: flex;
}

footer {
    width: 100vw;
    background-color: rgb(71, 65, 65);
    height: 10vh;
}

.portrait{
    width: 30rem;
    border-radius: 5%;
    border: .5em solid black;
    margin-top: 4rem;
}

.content{
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    gap: 3rem;
    row-gap: 2rem;
    justify-items: center;
    text-align: center;
}

.quote {
    font-family: harrington, fantasy;
    margin-left: 5rem;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    height: fit-content;
    grid-column: span 2;
}

.mission {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 7rem;
    margin-bottom: 7rem;
    margin-left: 3rem;
    font-size: 3em;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    background-color: rgb(156, 156, 156);
    border-radius: 2.5rem;
    padding: 1.5rem;
    text-align: center;
}

.aboutpics {
    height: 18rem;
    border-radius: 5%;
    border: .4em solid black;
    right: 15rem;
}

.picgrid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: .5rem;
    justify-items: center;
    margin-top: 4rem;
    
}

.abouttext {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2rem;
    font-size: 2em;
    font-weight: bold;
    background-color: rgb(156, 156, 156);
    border-radius: 2.5rem;
    padding: 1.5rem;
    text-align: center;
    width: 48rem;
    height: 100%;
    
}

.textbox {
    display: flex;
    flex-wrap: wrap;
    margin-top: 7rem;
    margin-bottom: 7rem;
    
}

ul{
    list-style: disc;
    list-style-position: inside;
}

.projgrid {
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    gap: 1rem;
}

.guidetogames {
    width: 30rem;
    grid-column: 1;
    border-radius: 10px;
}

.site-descp {
    grid-column: 2;
    background-color: rgb(156, 156, 156);
    border-radius: 10px;
    border: solid 1rem rgb(156, 156, 156);
    margin-top: 4rem;
    margin-bottom: 8rem;
    margin-right: 5rem;
}

.sitetitle {
    font-size: 3rem;
}

.description{
    font-size: 2.5rem;
}

.projlink {
    width: 30rem;
    grid-column: 1;
    margin-top: 3rem;
    margin-left: 10rem;
    border-radius: 10px;
    height: 15rem;
}

.codecode {
    width: 30rem;
    grid-column: 1;
    margin-top: 3rem;
    margin-left: 10rem;
    border-radius: 10px;
}

.form {
    text-align: left;
    width: 100%;
    font-size: 3rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2.5rem;
}

button {
    font-size: 1.5rem;
    border: .25rem solid black;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(185, 187, 90);
}

.nav:hover {
    background-color: blue;
    border-radius: 10px;
}

#required {
    border: .25rem solid black;
    border-radius: 10px;
}

textarea {
    font-size: 2rem;
}

input {
    font-size: 2rem;
}

main>form>div>input {
    display: flex;
    flex-wrap: wrap;
}

main>form>div>textarea{
    display: flex;
    flex-wrap: wrap;
}

.thxbox {
    justify-content: center;
    align-items: center;
}

.thanks {
    background-color: rgb(156, 156, 156);
    font-size: 3rem;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 30rem;
    height: 10rem;
    text-align: center;
}